<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#C50001"/>
    <meta name="apple-mobile-web-app-capable" content="yes"></head>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">

    <script>
      document.addEventListener("turbolinks:load", function() {
        <%= yield :javascript %>
      })
    </script>
  </head>

  <body class="min-h-screen antialiased text-gray-800 bg-gray-75">
    <div id="root"
      data-controller="notifications"
      data-notifications-flash="<%= flash.to_json %>"
    >

      <%= yield %>
    </div>
  </body>
</html>
